.footer {
    color: var(--navlinks);
    font-family: var(--navlinksfont);
    padding: 10px 10px;
}

body {
    background-color: dimgrey;
}

.content h1{
    color: var(--textcolor);
    font-family: var(--navlinksfont);
    display: grid;
    align-content: center;
    text-align: center;
}

.content p {
    color: var(--textcolor);
    font-family: var(--navlinksfont);
    display: grid;
    align-content: center;
    text-align: center;
    padding: 100px;
    margin-top: 800px;
}

section {
    display: grid;
    align-content: center;
    text-align: center;
    padding: 100px;
    min-height: 800px;
}

section p {
    color: var(--textcolor);
    font-family: var(--navlinksfont);
}

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.footer-left,
.footer-right,
.contact-form {
    padding: 20px;
    border: 2px;
}

.footer-left {
    text-align: left;
}

.footer-left p {
    margin: 0;
    padding: 5px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 10px;
    border: 1px;
    font-family: var(--navlinksfont);
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin: 0;
    padding: 5px 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-links li {
    text-align: center;
}

.footer-links a {
    color: var(--navlinks);
    text-decoration: none;
    font-family: var(--navlinksfont);
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        grid-column: span 1;
    }
}
